html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.gradient{
    background: rgb(178,34,34);
    background: linear-gradient(135deg, rgba(178,34,34,1) 0%, rgba(150,147,147,1) 100%);  
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.page-header img{
    border-radius: 5%;
}
.white{
    color:rgb(175, 171, 171)
}

.feature{
    color:#fff;
}

.feature img {
    border-radius: 5%;
}

.feature ul {
    padding-left: 2rem;
}

.feature ul li {
    padding-left: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon{
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
    
}