html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
}

.gradient{
    background: rgb(178,34,34);
    background: linear-gradient(135deg, rgba(178,34,34,1) 0%, rgba(150,147,147,1) 100%);  
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}
